.gradient-text {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.bg-gradient-purple-pink {
    background-image: linear-gradient(to right, #8B5CF6, #EC4899);
}

 .search-icon svg {
    transition: transform 0.3s ease-in-out;
}

.search-icon:hover svg {
    transform: scale(1.1);
}

/* Styles for modal backdrop and animation */
.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease-in-out;
}

.modal-content {
    transition: transform 0.3s ease-in-out;
}

.modal-hidden {
    display: none;
} 